/*style for main menu of recipe website*/

* {
    font-family: Helvetica;
}

.home {
    background-color:#BFC9CA;
    color: #17A589;
    border: solid #BFC9CA;
    padding: 6px;
    padding-bottom: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 15px;
    display: inline-block;
    text-decoration: none;
}

.home:hover {
    border: solid #17A589;
    background-color:#EAEDED;
    color: #17A589;
}

.recipes {
    border-top: solid #BFC9CA;
    border-left: solid #BFC9CA;
    border-right: solid #BFC9CA;
    padding: 6px;
    padding-bottom: 13px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: #17A589;
    margin-top: 5px;
    margin-bottom: 0px;
    display: inline-block;
    text-decoration: none;
}

.recipes:hover {
    background-color:#BFC9CA;
    color: #17A589;
}

.online {
    border-top: solid #BFC9CA;
    border-left: solid #BFC9CA;
    border-right: solid #BFC9CA;
    padding: 6px;
    padding-bottom: 13px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: #17A589;
    margin-top: 5px;
    margin-bottom: 0px;
    display: inline-block;
    text-decoration: none;
}

.online:hover {
    background-color:#BFC9CA;
    color: #17A589;
}

body {
 background-color: #EAEDED;   
}

.header img {
    float: left;
    border-radius: 15px;
    margin-left: 25px;
}

.header h1 {
    position: relative;
    background-color: #17A589;
    color:#BFC9CA;
    border-radius: 15px;
    padding: 15px;
    padding-bottom: 25px;
    padding-right: 30px;
    margin-top: 0px;
}

h2 {
    color: #17A589;
    font-family: Calibri;
    font-weight: bold;
    font-size: 33px;
    margin-left: 235px;
    margin-bottom: 0px;
}

p {
    color: #17A589;
    background-color: #BFC9CA;
    padding: 20px;
    padding-top: 45px;
    border-radius: 15px;
    width: 700px;
    margin-left: 10px;
    margin-top: 0px;
}